*.data
*.es5
*.log
*.old
*.tgz
*.sublime-project
*.sublime-workspace
.~lock*
.env
.nyc_output
.idea
browser
cli
es6
ISSUE_TEMPLATE.md
vendor
*.yml
*.bash
/docs
/docs/build
/output.docx
*.spec.js
coverage
node_modules
p.json
prof
profile_output_total.json
tags
browser-demo
